---
repos:
  - repo: local
    hooks:
      # Format Nix files with the formatter.
      - id: nixfmt
        name: Format Nix files
        language: system
        entry: nix fmt
        files: .*\.nix$

      # Strip EXIF metadata from images.
      - id: nixfmt
        name: Format Nix files
        language: system
        entry: exiftool -all=
        types: [image]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/hukkin/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        types:
          - file
        files: \.(md|qmd)$
        additional_dependencies:
          # Correctly parse and format frontmatter.
          - mdformat-frontmatter

          # Format tables to keep them readable in the source,
          - mdformat-tables

          # Format Python code blocks with Ruff.
          - mdformat-ruff
